.library-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    justify-content: center;

    .library-cards {
        appearance: none;
        height: auto;
        border: 1px solid var(--hairline);
        padding: 16px 16px;
        border-radius: 16px;
        box-shadow: 0 1px 2px rgb(28 31 39 / 0.05);

        button,
        .card {
            appearance: none;
            text-align: left;
            border: none;
            background: none;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0 16px 16px;
            overflow: hidden;
            box-shadow: 0 1px 2px rgb(28 31 39 / 0.05);
            position: relative;

            h2 {
                font-family: "DM Mono";
                font-size: 1rem;
                text-align: right;
            }

            img {
                height: 200px;
            }

            h3 {
                font-family: "Outfit";
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }
}
