* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

body {
    button {
        cursor: pointer;
    }

    .d_none {
        display: none;
    }
}
