* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

body {
    background: rgb(248, 245, 241);
    font-family: "DM Sans";
    color: rgb(28, 31, 39);
    -webkit-font-smoothing: antialiased;

    a {
        color: rgb(211, 58, 60);
        text-decoration: none;
    }

    a:hover {
        color: rgb(189, 44, 46);
    }

    h3 {
        text-transform: capitalize;
    }

    p {
        text-transform: capitalize;
    }

    button {
        cursor: pointer;
    }

    .d_none {
        display: none;
    }
}
