:root {
    --normal-light: rgb(170, 158, 123);
    --normal-base: rgb(134, 121, 88);
    --fire-light: rgb(237, 121, 64);
    --fire-base: rgb(196, 83, 15);
    --water-light: rgb(66, 163, 253);
    --water-base: rgb(13, 125, 212);
    --electric-light: rgb(190, 155, 0);
    --electric-base: rgb(152, 118, 0);
    --grass-light: rgb(84, 184, 91);
    --grass-base: rgb(41, 146, 54);
    --ice-light: rgb(0, 185, 205);
    --ice-base: rgb(0, 146, 167);
    --fighting-light: rgb(241, 114, 100);
    --fighting-base: rgb(199, 76, 65);
    --poison-light: rgb(195, 125, 226);
    --poison-base: rgb(157, 88, 186);
    --ground-light: rgb(220, 137, 0);
    --ground-base: rgb(180, 100, 0);
    --flying-light: rgb(109, 154, 255);
    --flying-base: rgb(75, 116, 216);
    --psychic-light: rgb(233, 111, 163);
    --psychic-base: rgb(191, 74, 127);
    --bug-light: rgb(125, 177, 56);
    --bug-base: rgb(89, 140, 0);
    --rock-light: rgb(215, 141, 0);
    --rock-base: rgb(176, 104, 0);
    --ghost-light: rgb(167, 135, 246);
    --ghost-base: rgb(131, 98, 205);
    --dragon-light: rgb(141, 144, 255);
    --dragon-base: rgb(106, 107, 214);
    --dark-light: rgb(155, 155, 189);
    --dark-base: rgb(119, 119, 151);
    --steel-light: rgb(131, 163, 187);
    --steel-base: rgb(95, 127, 149);
    --fairy-light: rgb(222, 115, 189);
    --fairy-base: rgb(181, 77, 152);
}
